body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #692f2f;
font-size: 1.2em;
background-color:rgba(184, 183, 183, 0.838)
}

p {
    display:flex;
    padding: 30px;
}